/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .nav-link.active {
    background-color: #870000; 
    font-weight: bold;
  }
  .header {
    background-color: #870000; 
    padding: 2vw 0; 
  }

  .nav-list {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
  }

  .nav-item {
    margin: 0 1vw; 
    font-size: 1.5vw;
  }
  .nav-link {
    text-decoration: none; 
    color: #939292; 
    font-weight: bold; 
    font-family: 'Songer';
  }

  .nav-link.active {
    color: hsl(0, 0%, 100%); 
  }

  .line {
    height: 2px; 
    background-color: #ddd; 
    margin: 10px 0; 
  }
